position: absolute;
width: 395px;
height: 437px;
left: 0px;
top: 0px;

background: linear-gradient(93.36deg, #FF0000 0%, rgba(143, 0, 255, 0.5) 79.07%);position: absolute;
width: 80px;
height: 19px;
left: 153px;
top: 5px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;position: absolute;
width: 304px;
height: 63px;
left: 45px;
top: 43px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;

color: #000000;

color: #FFFFFF;position: absolute;
width: 368px;
height: 182px;
left: 15px;
top: 30px;

background: radial-gradient(55.49% 55.49% at 50% 44.51%, #000AFF 0%, #FA00FF 100%);position: absolute;
width: 359px;
height: 159px;
left: 18px;
top: 246px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;

color: #FFFFFF;position: absolute;
width: 368px;
height: 165px;
left: 9px;
top: 246px;

background: conic-gradient(from 180deg at 52.72% 35.45%, #05FF00 0deg, rgba(0, 240, 255, 0) 298.96deg, #05FF00 360deg);
