position: absolute;
width: 434px;
height: 547px;
left: -14px;
top: -22px;

background: #B6DCFF;position: absolute;
width: 66px;
height: 15px;
left: 149px;
top: 0px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 15px;
/* identical to box height */


color: #FFFFFF;position: absolute;
width: 375px;
height: 474px;
left: 14px;
top: 15px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;

color: #FFFFFF;
