body {
    font-family: sans-serif;
}
header{
    background-image: linear-gradient(#de6db8,#8a38ab);
    margin-bottom: 20px;
}

#logo{
    margin: 10px;
}

header a{
    text-decoration: none;
    border: 1px solid white;
    border-radius: 10px;
    background-color: white;
    padding: 5px;
    color: #8a38ab;
    margin-left: 10px;
}
h1{
    background-color: pink;
    text-align: center;
    color: purple;
}
footer{
    background-image: linear-gradient(#de6db8,#8a38ab);
    padding: 5px;
}
footer p{
    background-color: white;
}
nav{
    text-align: center;
    margin: 10px;
}
nav a{
    background-color: #8a38ab;
    color: white;
    border:1px solid #330c5c;
    border-radius: 10px;
    padding: 5px;
}
.prob{
    background-color: darkblue;
    color: white;
}
nav a:hover{
     text-decoration: none;
    font-size: 20px;
    color: white;
    background-color: pink;
    padding: 10px;
    border-radius: 10px;
}
a:hover {
    box-shadow: 3px 5px 3px 0 purple;
}
   
#delivery{
    background-color:pink;
    color:purple;
}
    

about_us{
    background-color: blue;
    color: yellow;
}l
#wholesale{
    background-color: blue;
    color: yellow;
}
.tovar{
    display: flex;
    justify-content: center;

}
.tov{
    float: left;
    width: 150px;
    text-align: center;
    padding: 10px;
    border:  double pink;
    margin: 20px 0px 20px 40px;
}

.zsy{
    position: absolute;
    left: 28%;
    top: 45px;
}
.i_img{
    display: flex;
    justify-content: center;
}
.tov:hover{
    a:before; 
    width: 30px;
    height: 30px;
    margin-right: 10px;

}

a:hover::before {
    content: counter();
    width: 30px;
    height: 30px;
    margin-right: 10px;
    opacity: 1;
}
